<!-- Fondo que cubre toda la pantalla -->
<div class="absolute inset-0 bg-cover bg-center opacity-50" style="background-image: url('/assets/descarga2.jpg');"></div>
<div class="absolute inset-0 bg-zinc-700 opacity-60"></div> <!-- Panel opaco -->

<!-- Contenedor principal -->
<div class="relative flex justify-center items-center h-screen z-10">
    <!-- Formulario dentro de un contenedor blanco reducido -->
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-sm">
        <button
            class="absolute top-4 left-4 bg-blue-700 text-white font-medium rounded-lg text-sm px-4 py-2 shadow-lg hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500"
            (click)="goToLogin()"
        >
            Volver
        </button>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Título -->
            <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900 text-center">
                Registrarse
            </h1>

            <!-- Correo Electrónico -->
            <div class="mb-4">
                <label for="email" class="block mb-1 text-sm font-medium text-gray-900">
                    Correo Electrónico
                </label>
                <input
                    type="email"
                    id="email"
                    formControlName="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
                    placeholder="name@domain.com"
                />
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-red-500 text-sm">
                    <span *ngIf="registerForm.get('email')?.errors?.['required']">El correo es obligatorio.</span>
                </div>
            </div>

            <!-- Contraseña -->
            <div class="mb-5">
                <label for="password" class="block mb-1 text-sm font-medium text-gray-900">
                    Contraseña
                </label>
                <input
                    type="password"
                    id="password"
                    formControlName="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
                />
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-red-500 text-sm">
                    <span *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</span>
                </div>
            </div>
            <!-- Botón de Enviar -->
            <button
                type="submit"
                class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            >
                Crear Usuario
            </button>
        </form>
        <div *ngIf="userCreated" class="mt-4 text-green-500 text-center">
            Usuario creado correctamente. Redirigiendo al login...
        </div>
    </div>
</div>